


<div class="outer">
  <div class="middle">
    <div class="inner">

			<h1>Cheapest buzz at the LCBO</h1>

			<% cheapest_alcohol.each do |x| %>

				<div class="col"><%= image_tag x.image_thumb_url %></div>
				<div class="col">
					<p><strong><%= x.name %></strong></p>
					<p><%= x.producer_name %> | <%= x.origin %></p>
					<p>$ <%= format_price(x.price_per_liter_of_alcohol_in_cents)%> / L alcohol</p>
					<p><%= x.primary_category %> | <%= x.secondary_category %></p>
				</div>

			<% end %>
		</div>
		
    <div class="inner">

			<h1>Most expensive buzz at the LCBO</h1>

			<% most_expensive_alcohol.each do |x| %>

				<div class="col"><%= image_tag x.image_thumb_url %></div>
				<div class="col">
					<p><strong><%= x.name %></strong></p>
					<p><%= x.producer_name %> | <%= x.origin %></p>
					<p>$ <%= format_price(x.price_per_liter_of_alcohol_in_cents)%> / L alcohol</p>
					<p><%= x.primary_category %> | <%= x.secondary_category %></p>
				</div>

			<% end %>

		</div>
	</div>
</div>